@font-face {
    font-family: 'BigShoulders';
    src: url('fonts/bigshoulders.ttf') format(woff2);

    font-weight: normal;
    font-style: normal;
}


html { 

    max-height: 100%;
    max-width: 100%; 
    overflow-x: hidden;
    scroll-behavior: smooth;
    
}


body { 

    background-color:#101010;
    color: rgb(255, 255, 255); 
    margin: 0;
    padding: 0; 
    max-height: 100vh;
    max-width: 100vw;
    font-family: 'Outfit', sans-serif;


}


#navbar { 
    position: fixed; 
    top: -0.5%;
    left: -2%;
    background-color: #101010;
    width: 102%;
    height: 10%;
    z-index: 3;
    

}

#navbar > ul { 

    display: flex; 
    align-items: center;
    gap: 30px;
    justify-content: flex-end;
    margin-right: 40px;
    z-index: 3;
    
}

#navbar > ul > a { 

    color: white;
    text-decoration: none;
    font-size: 25px;
}


#main-page { 

    margin-top: 30rem;
    text-align: center;
}


#main-page > #title-text > .name-title { 
   
    font-size: 120px;
    text-align: center;
}


#main-page > #title-text > .sub-title2 { 

    font-size: 25px;
}

#main-page > #main-page-button-div { 

    display: flex;
    justify-content: center;
    align-items: center;
    
}

#main-page > #main-page-button-div > a { 

    
    width: 25%;
    text-align: center;
    background-color: #1E1E1E;
    color: white;
    font-family: 'Outfit', sans-serif;
    text-decoration: none;
    font-size: 24px;
}

#about-me-anchor { 

    margin-top: 30rem;
    color:#101010;
}

#about-me-page { 

    margin-top: 19rem;
    display: flex;
    justify-content: space-around;
}


#about-me-page > #about-me-text > #tech-title { 

    text-align: center;
    font-size: 60px;
    
}


#about-me-page > #language > #language-brief{ 

    display: flex;
    flex-direction: row;
}


#about-me-page > #about-me-text > h1 { 
    font-size: 60px;
}


#about-me-page > #about-me-text > p { 

    font-size: 20px;

}

#about-me-page > #techstack { 

    background-color: #101010;
    height: auto;
    width: 45vw;
    margin-left: 2rem;
    position: relative;
    padding: 5rem;
}



#about-me-page > #techstack > #language > h1 { 

    font-size: 35px;
    margin-top: 0rem;
    text-align: center;
    margin-left: 2rem;
} 


@property --angle { 

    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

#about-me-page > #techstack::after, #techstack::before { 
    
    content: '';
    position: absolute;
    height: 100.5%;
    width: 100.5%;
    background: conic-gradient(from var(--angle), transparent 70%, white);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 2px;
    border-radius: 5px;
    animation: 10s spin linear infinite;
}

#about-me-page > #techstack::before {

    filter: blur(1.5rem);
    opacity: 0.5rem;
}

#about-me-page > #techstack > #language > #language-ul {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 2rem;
    gap: 50px;
    text-decoration: none;
    list-style: none;

}

#about-me-page > #techstack > #language > #language-ul > li { 
    
    background-color: rgb(40, 39, 39);
    border-radius: 10%;
    border: 50px solid rgb(40, 39, 39);
}


#about-me-page > #techstack > #language > #language-ul > li > img{

    width: 50px;
    height: 60px;

}


#projects { 

    margin-top: 20rem;
}


@keyframes spin { 

    from{
        --angle: 0deg;
    }

    to { 
        --angle: 360deg;
    }
}