@font-face {
    font-family: 'BigShoulders';
    src: url('fonts/bigshoulders.ttf') format(woff2);

    font-weight: normal;
    font-style: normal;
}


html { 

    max-height: 100%;
    max-width: 100%; 
    overflow-x: hidden;
    scroll-behavior: smooth;
    
}


body { 

    background-color:#101010;
    color: rgb(255, 255, 255); 
    margin: 0;
    padding: 0; 
    max-height: 100vh;
    max-width: 100vw;
    font-family: 'BigShoulders', sans-serif;
}


#lg { 
    color: white; 
    display: flex; 
    position: fixed; 
    top: 1.5%;
    left: 1%;
    z-index: 4;
    font-size: 30px;
    font-family: 'BigShoulder', ;
}

#lg:hover { 

    transform: scale(120%,120%);
}


#lg > #verticalhr { 

    margin: 0 5px;   
    height: 30px;

}

#navbar { 
    position: fixed; 
    top: -0.5%;
    left: -2%;
    background-color: #101010;
    width: 102%;
    z-index: 3;
    

}

#navbar > ul { 

    display: flex; 
    align-items: center;
    gap: 30px;
    justify-content: flex-end;
    margin-right: 40px;
    z-index: 3;
    
}

#navbar > ul > a { 

    color: white;
    text-decoration: none;
    font-size: 20px;
}


#main-page { 

    margin-top: 20rem;
    margin-left: 2rem;
}



#main-page > #title-text > .name-title { 

    width: 0px;
    text-wrap: wrap;
    font-size: 120px;
}

#main-page > #title-text > .sub-title { 

    margin-left: 10px;
    margin-top: -110px;
    font-size: 25px;
}

#main-page > #title-text > .sub-title2 { 

    margin-left: 10px;
    margin-top: -15px;
    font-size: 25px;
}

#main-page > #main-page-button-div { 

    margin-top: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-page > #main-page-button-div > a { 

    
    width: 25%;
    text-align: center;
    background-color: #1E1E1E;
    color: white;
    font-family: 'BigShoulders';
    text-decoration: none;
    font-size: 24px;
}

#about-me-anchor { 

    margin-top: 50rem;
}


#about-me-page { 

    text-align: center;
}


#about-me-page > #about-me-text > h1 { 
    font-size: 60px;
}


#about-me-page > #about-me-text > p { 

    font-size: 20px;

}

#about-me-page > #techstack > #language > #language-ul {

    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;

}

#about-me-page > #techstack > #language > #language-ul > li > img{

    width: 100px;
    height: 40px;
    margin: auto;
    

}

